<!-- todo -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>jwt</title>
    <script>
        (() => {
            'use strict';

            document.addEventListener('DOMContentLoaded', function(e) {
                let isRun = false;

                document.getElementById('logout').addEventListener('click', function(e) {
                    if(!isRun) {
                        isRun = true;

                        const formData = new FormData();

                        fetch('/api/logout', {
                            method : 'DELETE',
                            body : formData
                        }).then(() => {

                        }).catch(() => {

                        }).finally(() => {
                            isRun = false;
                        });
                    }
                });
            });
        })();
    </script>
<body>
    <button type="button" id="logout">로그아웃</button>
</body>
</html>